body
{
    margin: 0;
    padding: 0;
    background-color: black;
    display: block;
}

.wrapper
{
    width: clamp(400px, 100%, 1400px);
    margin: auto;
    background-color: #333;
    color: white;
}

.navbar
{
    display: flex;
    justify-content: space-evenly;
    background-color: #0e0d0d;
    width: clamp(400px, 90%, 1400px);
    height: 40px;
    position: fixed;
    top: 0;
}

.navbar button
{
    background-color: #736363;
    color: white;
    width: 100%;
    font-size: 24px;
    text-wrap: nowrap;
    border-top-right-radius: 20%;
}

.WIP
{
    position: relative;
    top: 100px;
    left: 0px;
    color: red;
}

header
{
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

header h1
{
    font-size: 36px;
}

header h2
{
    font-size: 24px;
}

header p
{
    font-size: 20px;
}

.social-links
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    width: 60%;
}

.social-links a
{
    width: 30%;
    padding: 2px;
}

.social-links img
{
    max-width: 35%;
    min-width: 40px;
    height: auto;
}

.social-links p
{
    color:#ddd;
    font-size: 16px;
}

.the-three
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills
{
    text-align: left;
    width: 20%;
}

.contact-me
{
    text-align: center;
    font-size: 24px;
    padding: 1px;
    width: 20%;
}

.contact-me button
{
    background-color: transparent;
    color: white;
    font-size: 22px;
    width: auto;
    border: 5px solid yellow;
}

.about-me
{
    text-align: center;
    padding: 1px;
    margin: auto;
    width: 60%;
}

.about-me p
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    width: 60%;
    margin: auto;
}

.about-me h3
{
    font-size: 24px;
}

.my-work
{
    margin: auto;
    text-align: center;
    font-size: 30px;
    background-color: #181717;
}

.my-work-button
{
    background-color: transparent;
    color: white;
    font-size: 40px;
    border: 0px solid yellow;
}


.section-head
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: clamp(420px, 102%, 1440px);
    height: auto;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: #0e0d0d;
}

.section-head h3
{
    font-size: 40px;
}

.project-header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-header a
{
    max-width: 300px;
}

.project-header img
{
    width: 300px;
    margin: 10px 0;
}

.img-link img
{
    transition: transform 0.5s;
}

.img-link img:hover
{
    transform: scale(1.2);
}

.hover-img-l img
{
    transition: transform 0.5s;
}

.hover-img-l img:hover
{
    transform: scale(1.8) translateX(50%);
}

.hover-img-r img
{
    transition: transform 0.5s;
}

.hover-img-r img:hover
{
    transform: scale(1.8) translateX(-50%);
}

.project-header p
{
    font-size: 20px;
    width: 50%;
}

.project
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
}

.project-myWork
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.project-image-l
{
    display: flex;
    width: clamp(200px, 33%, 600px);
    height: auto;
    margin-right: 20px;
}

.project-image-l img
{
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: scale-down;
}

.project-image-r
{
    display: flex;
    width: clamp(200px, 33%, 600px);
    height: auto;
    margin-left: 20px;
}

.project-image-r img
{
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: scale-down;
}

.project-image-center
{
    display: flex;
    width: clamp(200px, 33%, 600px);
    height: auto;
    margin: auto;
}

.project-image-center img
{
    max-width: 100%;
    width: auto;
    height: auto;
}

.project-levels
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-level-images
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: clamp(150px, 50%, 800px);
}

.project-level-images img
{
    width: 100%;
    height: auto;
    margin: 10px;
}

.project-text
{
    flex: 1;
}

.project-text h3
{
    font-size: 24px;
}

.project-text p
{
    font-size: 20px;
}

.project-text-center
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: clamp(200px, 50%, 600px);
    margin: auto;
}

.project-text-center h3
{
    font-size: 24px;
}

.project-text-center p
{
    font-size: 20px;
}

@media (max-width: 850px) 
{

    .navbar
    {
        height: 25px;
    }

    .navbar button
    {
        font-size: 18px;
    }

    .project-text-center h3
    {
        font-size: 18px;
    }

    .project-text-center p
    {
        font-size: 14px;
    }

    .hover-img-l img:hover
    {
        transform: scale(2);
    }

    .hover-img-r img:hover
    {
        transform: scale(2);
    }

    .project-myWork
    {
        flex-direction: column;
    }

    .project-image-l
    {
        width: clamp(200px, 50%, 600px);
        margin-right: 0px;
    }

    .project-image-r
    {
        width: clamp(200px, 50%, 600px);
        margin-left: 0px;
    }

    .project-image-center
    {
        width: clamp(200px, 50%, 600px);
    }

    .project-text-center
    {
        width: clamp(200px, 80%, 600px);
    }

}