body
{
    margin: 0;
    padding: 0;
    background-color: black;
    display: block;
}

.wrapper
{
    width: clamp(400px, 90%, 1400px);
    margin: auto;
    background-color: #333;
    color: white;
}

.navbar
{
    display: flex;
    justify-content: end;
    background-color: #0e0d0d;
    width: clamp(400px, 90%, 1400px);
    height: 3%;
    position: fixed;
    top: 0;
}

.navbar button
{
    background-color: #736363;
    color: white;
    width: clamp(100px, 20%, 400px);
    font-size: 20px;
    text-wrap: nowrap;
    border-top-right-radius: 20%;
}

@media (max-width: 850px) 
{
    .navbar button
    {
        font-size: 14px;
    }
}

header
{
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

header h1
{
    font-size: 36px;
}

header h2
{
    font-size: 24px;
}

header p
{
    font-size: 20px;
}

.social-links
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    width: 60%;
}

.social-links a
{
    width: 30%;
    padding: 2px;
}

.social-links img
{
    max-width: 35%;
    min-width: 40px;
    height: auto;
}

.social-links p
{
    color:#ddd;
    font-size: 16px;
}

.about-me
{
    text-align: center;
    padding: 1px;
}

.about-me p
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    width: 60%;
    margin: auto;
}

.about-me h3
{
    font-size: 24px;
}

.my-work
{
    margin: auto;
    text-align: center;
    font-size: 30px;
    background-color: #181717;
}

.section-head
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: clamp(400px, 100%, 1400px);
    height: auto;
    background-color: #0e0d0d;
}

.section-head h3
{
    font-size: 40px;
}

.project-header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-header img
{
    max-width: clamp(300px, 30%, 600px);
    width: auto;
    height: auto;
    margin: 10px 0;
}

.project-header p
{
    font-size: 20px;
    width: 50%;
}

.project
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
}

.project-myWork
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.project-image-l
{
    display: flex;
    width: clamp(200px, 33%, 600px);
    height: auto;
    margin-right: 20px;
}

.project-image-l img
{
    max-width: 100%;
    width: auto;
    height: auto;
}

.project-image-r
{
    display: flex;
    width: clamp(200px, 33%, 600px);
    height: auto;
    margin-left: 20px;
}

.project-image-r img
{
    max-width: 100%;
    width: auto;
    height: auto;
}

.project-image-center
{
    display: flex;
    width: clamp(200px, 33%, 600px);
    height: auto;
    margin: auto;
}

.project-image-center img
{
    max-width: 100%;
    width: auto;
    height: auto;
}

.project-levels
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-level-images
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: clamp(150px, 50%, 800px);
}

.project-level-images img
{
    width: 100%;
    height: auto;
    margin: 10px;
}

.project-text
{
    flex: 1;
}

.project-text h3
{
    font-size: 24px;
}

.project-text p
{
    font-size: 20px;
}

.project-text-center
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: clamp(200px, 50%, 600px);
    margin: auto;
}

.project-text-center h3
{
    font-size: 24px;
}

.project-text-center p
{
    font-size: 20px;
}